# Ignore hidden files
.directory

# build directory
build/

# files
*.desktop~
*.gitignore~
*.js~
*.kate-swp
*.qml~
*.sh~
*.xml~
.*.cpp~
.*.h~
.*.js~
.*.pot~
.*.po~
.*.qml~
.*.txt~
.*.xml~
.~*

# binary
*.class
*.o

# mo files
*.mo

# KDevelop Project files
*.kdev4
.kdev4/
