# Ignore hidden files
.directory

# build directory
build/


# files
*.orig
*.desktop~
*.gitignore~
*.js~
*.kate-swp
*.qml~
*.sh~
*.xml~
.*.cpp~
.*.h~
.*.js~
.*.pot~
.*.po~
.*.qml~
.*.txt~
.*.xml~
.~*

# binary
*.class
*.o
*.jar

# mo files
*.mo

# KDevelop Project files
*.kdev4
.kdev4/
/GoGame/dist/
/GoGame/nbproject/private/